.total-bayar {
    font-size: 50pt;
}
.text-bayar{
    color: rgb(34, 55, 122);
    font-weight: bold;
}

.box-pay {
    background-color: #fff !important;
    border-radius: 15px !important;
    padding: 2px;
}

.button-box {
    background-color: #fff !important;
    border-radius: 15px !important;
    padding: 10px;
    cursor: pointer;
}

.top {
    margin-top: -30px;
}
.left {
    margin-left: -10px;
}
.btn-bayar {
    margin-top: -30px;
    height: 70px;
    width: 100%;
}
.table-bayar {
    border-radius: 15px !important;
}

.table-bayar tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
.table-bayar tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.over-flow{
    height:400px; overflow:auto;
}