a {
    text-decoration: none;
}

.bg-light {
    background-color: rgb(34, 55, 122) !important;
}

.bck{
    background-image: url('./assets/img/background.png');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-color: #eee;
    background-size: cover;
    height: 100%;
    width: 100%;
    position:absolute;
}